.retangulo {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin:  50px auto;
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px ;
}
.quadrado {
    width: 150px;
    height: 150px;
}
.roxo{
    background-color: purple;
}
.verde{
    background-color: green
}
.vermelho{
    background-color: red;
    box-shadow: 0 0 20px #ff0000;

}
.amarelo{
    background-color: yellow;
    box-shadow: 0 0 20px yellow;
}
.green{
    background-color: rgb(18, 231, 18);
    box-shadow:0 0 20px rgb(18, 231, 18);
}
.container2{
    background-color: black;
    width: 200px;
    border-radius: 25px;
    margin: 0 auto 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}