*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: aliceblue;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 26px;
    font-weight: bold;
}
.menu {
    display: flex;
    gap: 30px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-style: 16px;
    transition: color 0.3s;
}
.menu a:hover{
    color:blueviolet;
}